*
{
    padding: 0;
    margin: 0;
}

html
{
    font-size: 24px;
}

.fill-viewport
{
    height: 100vh;
    width: 100vw;
}

.feed-header-container
{
    display: flex;
    justify-content: flex-end;
    background-color: hsla(0, 0%, 0%, 0.85);
}

.feed-header-navigation-link
{
    color: white;
    text-decoration: none;
}

.feed-title-container
{
    
}

.feed-title
{
    
}

.filter-buttons-container
{

}

.feed-item-row-container
{
    display: flex;
    justify-content: space-evenly;
}

.feed-item-container
{
    width: 22%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.feed-item-container:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.30);
}

.feed-item-quantity-and-category-container
{
    display: flex;
    justify-content: space-between;
}

.feed-item-interaction-buttons-container
{
    display: flex;
    justify-content: space-evenly;
}

.feed-item-image-container
{
    border-radius: 6% 6% 0 0;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: darkgoldenrod;
}